HOST=https://your-app-host
SHOPIFY_API_KEY=
NEXT_PUBLIC_SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_VERSION=2024-10
SHOPIFY_SCOPES=read_orders,write_orders,read_customers,read_products
JWT_SECRET=
DATABASE_URL=postgresql://user:pass@localhost:5432/cod_app
SHOPIFY_WEBHOOK_SECRET=
